@font-face {
  font-family: 'Marat Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Marat Sans Regular'), url('../fonts/Marat-Sans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Marat Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Marat Sans Italic'), url('../fonts/Marat-Sans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Marat Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local('Marat Sans Light'), url('../fonts/Marat-Sans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Marat Sans DemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Marat Sans DemiBold'), url('../fonts/Marat-Sans-DemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Marat Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Marat Sans Bold'), url('../fonts/Marat-Sans-Bold.woff') format('woff');
}