button,
input,
select,
textarea{
  background-color: #f7f7f7;
  border-radius: 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
}

button {
  overflow: visible;
}


select {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height:40px;
  margin:0;
  padding:0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-overflow: "";
  outline: none;
  background-position: 100% center;
  background-repeat: no-repeat;
  border:1px solid rgba(0,0,0,0.1);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius:0;
  background-color:transparent;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgNTAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBkPSJNMjIuNiw4YzAtMC4xLDAtMC4yLDAuMS0wLjJsMC41LTAuNWMwLjEtMC4xLDAuMS0wLjEsMC4yLTAuMWMwLjEsMCwwLjIsMCwwLjIsMC4xbDMuNywzLjdsMy43LTMuN2MwLjEtMC4xLDAuMS0wLjEsMC4yLTAuMXMwLjIsMCwwLjIsMC4xTDMyLDcuOEMzMiw3LjksMzIuMSw4LDMyLjEsOGMwLDAuMSwwLDAuMi0wLjEsMC4ybC00LjQsNC40Yy0wLjEsMC4xLTAuMSwwLjEtMC4yLDAuMXMtMC4yLDAtMC4yLTAuMWwtNC40LTQuNEMyMi43LDguMiwyMi42LDguMSwyMi42LDh6Ii8+PC9zdmc+");
}
.rtl select {
  background-position: 0% center;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}

label{
  padding-bottom:5px;
}

button,
input{
  line-height: normal;
}

input,
textarea{
  padding:9px 10px;
  line-height:30px;
  font-size:14px;
  color:#333;
  border:1px solid #ededed;
  box-shadow:none;
  background:#fff;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  font-family: 'Marat Sans Regular', Arial, Helvetica, sans-serif;
}

input:focus,
textarea:focus{
  background: #fff;
  color: #333;
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled]{
  cursor: default;
  opacity: .5;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: 'Oswald', sans-serif;
  -webkit-appearance: button;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 10px;
  letter-spacing:2px;
  background-color:#333;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 0;
  color:#333;
  background-color: $dark-green;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: $dark-green;
  outline: 0;
}

input[type="search"]{
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner{
  border: 0;
  padding: 0;
}

textarea{
  overflow: auto;
  vertical-align: top;
}

input[type="checkbox"],
input[type="radio"]{
  padding: 0;
}