/vendor/
/node_modules
/data

!public/
public/*
!public/index.php
!public/wp-cli.yml
!public/wp-config.php
!public/wp-content/
public/wp-content/*
!public/wp-content/mu-plugins/
public/wp-content/mu-plugins/*
!public/wp-content/plugins/
public/wp-content/plugins/*
!public/wp-content/plugins/simple-instagram
!public/wp-content/plugins/tag-list-widget
!public/wp-content/plugins/wp-post-block-fork
!public/wp-content/plugins/varnish-http-purge
!public/wp-content/themes
public/wp-content/themes/*
!public/wp-content/themes/wild-and-without/
!public/wp-content/themes/voyager/
/.env
/.docker/mysql
/.docker/files/acme.json
/log

#cache
!public/wp-content/advanced-cache.php
!public/wp-content/db.php
!public/wp-content/object-cache.php
!public/wp-content/w3tc-config
!public/wp-content/cache
