.facts {
  background-color: #F0F3F7;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

/** Facts paragraph **/
.facts p {
  font-size: 18px;
}

.facts ul {
  margin-bottom: 30px;
}

/** Facts heading **/
.facts h3 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 15px;
  font-weight: bold;
}
