/* Theme Logo */
.cstheme-logo{
  max-height:125px;
}
.cstheme-logo a{
  display:block;
}
.cstheme-logo a img{
  max-height:125px;
}
.cstheme-logo h1{
  margin-bottom:0;
}
.cstheme-logo.hide{
  visibility:hidden;
  position:fixed;
  display:block !important;
  opacity:0;
}

@media only screen and (min-width:991px) {
  .cstheme-logo {
    max-height: 300px;
  }

  .cstheme-logo a img {
    max-height: 300px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 769px) {
  body.header_type7 .cstheme-logo {
    float: left;
  }
}