div.wpcf7 {
  margin: 0;
  padding: 0;
}

div.wpcf7 .screen-reader-response {
  display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
  border: 2px solid #398f14;
}

.wpcf7 form.spam .wpcf7-response-output {
  border-color: #ffa500; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  border: 2px solid #ff0000;
}

.wpcf7-not-valid-tip {
  color: #dc3232;
  font-size: 1em;
  font-weight: normal;
  display: block;
}


form.wpcf7-form {
  padding: 57px 70px 70px;
  text-align: center;
  background-color: #f4f4f4;
}

form.wpcf7-form label {
  padding-bottom:14px;
  text-transform:uppercase;
  font-weight:700;
  font-size:18px;
  letter-spacing:2px;
}


form.wpcf7-form input,
form.wpcf7-form textarea {
  height:40px;
  padding:0 20px;
  font-weight:400;
  text-align:center;
  font-size:16px;
  color:#333;
  border:1px solid #fff;
  transition: border-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
}

form.wpcf7-form textarea{
  resize:none;
  height:230px;
}

form.wpcf7-form input[type="submit"]{
  height:60px;
  padding:10px 40px;
  text-transform:uppercase;
  font-weight:700;
  line-height:30px;
  font-size:14px;
  color:#333;
  letter-spacing:2px;
  border:5px solid #333 !important;
  background:none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

form.wpcf7-form input[type="submit"]:hover,
form.wpcf7-form input[type="submit"]:focus{
  color:#fff;
  background-color:#333;
}

.contentarea form.wpcf7-form label {
  font-family: 'Oswald', sans-serif;
}

.contentarea form.wpcf7-form input:focus,
.contentarea form.wpcf7-form textarea:focus {
  border-color: $dark-green;
}