.shutter-stock-widget-landscape {
  display: none;
  justify-content: center;
}

.shutter-stock-widget-mobile {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 480px) {
  .shutter-stock-widget-mobile {
    display: none;
  }

  .shutter-stock-widget-landscape {
    display: flex;
  }
}