.image-profile-grid {
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  /* 2 columns wide */
  .grid-item--width2 {
    width: 66.666%;
  }

  @media screen and (min-width: 768px) {
      /* 5 columns for larger screens */
      .grid-sizer,
      .grid-item {
        width: 20%;
      }

      .grid-item--width2 {
        width: 40%;
      }
  }
}
